.channel-favorable .p-countdown {
    background: transparent url("../../images/echannel/bg/bg52.png") no-repeat scroll 0 0;
}
.channel-sale .p-sale-price {
    background: transparent url("../../images/echannel/bg/bg53.png") no-repeat scroll 0 0;
}
.ecnews-area .b a {
    background: transparent url("../../images/echannel/icon/icon28.png") no-repeat scroll 0 0;
}
.button-top-banner-min, .button-top-banner-close {
    background: transparent url("../../images/echannel/icon/icon1.png") no-repeat scroll 0 0;
}
.layout::before, .layout::after {
    content: "";
    display: table;
}
.layout::after {
    clear: both;
}
.layout {
    margin: 0 auto;
    width: 1000px;
}
.u-4-3 {
    width: 762px;
}
.u-4-1 {
    width: 218px;
}
.h::after, .b::after, .channel-pro-list::after {
    clear: both;
    content: "";
    display: table;
}
.h, .b, .channel-pro-list {
}
.channel-favorable .p-name, .channel-favorable .p-shining, .channel-favorable .channel-button, .channel-favorable .channel-button-begin, .channel-favorable .channel-button-end, .channel-sale .p-title, .channel-sale .p-name, .channel-floor .channel-button, .p-sale-price .channel-button, .p-sale-price .channel-button-begin, .p-sale-price .channel-button-end, .channel-floor, .ecnews-area .h-tab li {
    font-family: "Tahoma",微软雅黑;
}
.channel-favorable .channel-button, .channel-floor .channel-button, .channel-favorable .channel-button-begin, .channel-favorable .channel-button-end {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    width: 78px;
}
.channel-floor .channel-button, .channel-favorable .channel-button, .channel-favorable .channel-button-begin {
    background-color: #d81b24;
    border-color: #b3131a;
    color: #fff;
}
.channel-floor .channel-button:hover, .channel-favorable .channel-button:hover, .channel-favorable .channel-button-begin:hover {
    background-color: #f0333c;
    border-color: #b3131a;
}
.channel-favorable .channel-button-end {
    background-color: #b4b0ac;
    border-color: #a29c98;
    color: #fff;
}
.p-sale-price .channel-button, .p-sale-price .channel-button-begin, .p-sale-price .channel-button-end {
    border-radius: 2px;
    display: inline-block;
    font-size: 14px;
    height: 26px;
    line-height: 24px;
    padding: 0 9px;
}
@media not all {
.p-sale-price .channel-button, .p-sale-price .channel-button-begin, .p-sale-price .channel-button-end {
    line-height: 26px;
}
}
.p-sale-price .channel-button {
    background-color: #fff;
    color: #e01d20;
}
.p-sale-price .channel-button-begin, .p-sale-price .channel-button-end {
    background-color: #f5bcbe;
    color: #e01d20;
}
.channel-button:hover, .channel-button-begin:hover, .channel-button-end:hover {
    text-decoration: none;
}
.hot-board {
   /* background-color: #f6f6f6;*/
    min-width: 1000px;
}
.hot-board .ec-slider {
    height: 448px;
}
.channel-favorable .pro-info, .channel-floor .pro-info {
    transition: all 0.3s ease 0s;
}
.channel-pro-item {
    float: left;
}
.channel-favorable .channel-pro-panels, .channel-floor .channel-pro-panels {
    background-color: #efefef;
    margin: 0 -1px -1px 0;
    padding: 1px 4px 4px 1px;
    position: relative;
}
.channel-pro-item .pro-info {
    position: relative;
    text-align: center;
}
.channel-favorable .pro-info, .channel-floor .pro-info {
    background-color: #fff;
    border: 4px solid #fff;
    margin: 0 -3px -3px 0;
    transition: all 0.3s ease 0s;
}
.channel-pro-item .pro-info-hover, .channel-pro-item .pro-info:hover {
    border-color: rgba(202, 20, 29, 0.2);
}
.channel-pro-item .p-tag {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 5;
}
.channel-favorable .p-tag, .channel-floor .p-tag {
    left: -4px;
    top: -4px;
}
.channel-pro-item .p-img a {
    display: block;
    position: relative;
}
.channel-pro-item .p-img img {
    vertical-align: top;
}
.channel-pro-item .p-img-mask {
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.channel-pro-item .pro-info-hover .p-img-mask, .channel-pro-item .pro-info:hover .p-img-mask {
    display: block;
}
.channel-pro-item .p-name, .channel-pro-item .p-shining {
    overflow: hidden;
}
.channel-pro-item .p-name a:hover {
    color: #e01d20;
}
.channel-pro-item .p-slogan {
    color: #777;
}
.channel-pro-item .p-name .p-slogan, .channel-pro-item .p-promotions {
    color: #e01d20;
}
.channel-pro-item .p-price {
    color: #e01d20;
    font-family: Arial;
}
.channel-pro-item .p-price em, .channel-pro-item .p-price span {
    font-size: 20px;
    margin-right: 4px;
}
.channel-pro-item .p-price b {
    font-family: 微软雅黑;
    font-size: 15px;
    font-weight: 400;
}
.channel-sale {
    border: 1px solid #efefef;
}
.channel-sale .ec-slider {
    height: 310px;
}
.channel-sale .button-slider-prev, .channel-sale .button-slider-next {
    margin-top: 0;
    top: 130px;
}
.channel-sale .channel-pro-list {
    left: 0;
    top: 0;
}
.channel-sale .channel-pro-item {
    width: 100%;
}
.channel-sale .pro-info {
    border: 0 none;
    height: 310px;
    margin: 0;
}
.channel-sale .p-countdown {
    background-color: #fcf7f7;
    height: 40px;
    position: relative;
    z-index: 2;
}
.channel-sale .p-title {
    color: #777;
    float: left;
    font-size: 14px;
    line-height: 1.2;
    padding: 11px 0 0 14px;
}
.channel-sale .p-time {
    float: right;
    font-family: tahoma;
    height: 20px;
    line-height: 20px;
    padding-right: 7px;
    padding-top: 10px;
}
.channel-sale .p-time b {
    color: #777;
    margin-right: 11px;
}
.channel-sale .p-time ins {
    background-color: #d21921;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    height: 20px;
    min-width: 14px;
    padding: 0 3px;
    position: relative;
    text-align: center;
}
.channel-sale .p-time s {
    background-color: #db474d;
    bottom: 1px;
    font-size: 1px;
    height: 9px;
    left: 0;
    line-height: 1px;
    position: absolute;
    width: 100%;
}
.channel-sale .p-time i {
    font-style: normal;
    position: relative;
    z-index: 2;
}
.channel-sale .p-time em {
    color: #777;
    margin: 0 6px;
}
.channel-sale .p-quantity {
    background-color: rgba(216, 27, 36, 0.89);
    border-left: 4px solid rgba(179, 19, 26, 0.89);
    border-radius: 2px;
    color: #fff;
    height: 20px;
    line-height: 20px;
    margin-right: 4px;
    padding: 0 8px 0 5px;
    position: absolute;
    right: 13px;
    text-align: right;
    top: 176px;
}
.channel-sale .p-name {
    font-size: 18px;
    line-height: 1.2;
    overflow: hidden;
    padding-top: 10px;
    text-align: center;
    white-space: nowrap;
    width: 216px;
}
.channel-sale .p-name a {
    color: #222;
}
.channel-sale .p-img a {
    margin: 0 auto;
    width: 144px;
}
.channel-sale .p-img img, .channel-sale .p-img-mask {
    height: 144px;
    width: 144px;
}
.channel-sale .p-sale-price {
    background-color: #dd1d26;
    background-position: 0 0;
    float: right;
    font-size: 0;
    height: 38px;
    padding: 0 13px 0 28px;
}
.channel-sale .p-sale-price em, .channel-sale .p-sale-price span, .channel-sale .p-sale-price b {
    color: #fff;
    display: inline-block;
    vertical-align: top;
}
.channel-sale .p-sale-price em {
    margin-right: 5px;
}
.channel-sale .p-sale-price em, .channel-sale .p-sale-price span {
    font-size: 24px;
    line-height: 1.2;
    margin-top: 5px;
}
.channel-sale .p-sale-price b {
    font-family: 微软雅黑;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
}
@media not all {
.channel-sale .p-sale-price b {
    line-height: 38px;
}
}
.channel-sale .p-sale-price .channel-button, .channel-sale .p-sale-price .channel-button-begin, .channel-sale .p-sale-price .channel-button-end {
    margin: 6px 0 0 13px;
    vertical-align: top;
}
.channel-sale .p-sale-rebate {
    background-color: #f8f8f8;
    bottom: 0;
    color: #9c9590;
    left: 0;
    overflow: hidden;
    padding: 8px 0;
    position: absolute;
    width: 100%;
}
.channel-sale .p-sale-rebate dl {
    border-left: 1px solid #dcdcdc;
    float: left;
    line-height: 14px;
    margin-left: -1px;
    text-align: center;
    width: 33%;
}
.channel-favorable .channel-pro-item {
    margin-bottom: 21px;
    width: 50%;
}
.channel-favorable .pro-info {
    height: 302px;
}
.channel-favorable .p-countdown {
    background-position: right 0;
    background-repeat: repeat-y;
    padding: 10px 6px 10px 0;
    position: absolute;
    right: -4px;
    text-align: right;
    top: -4px;
    width: 383px;
    z-index: 2;
}
.channel-favorable .pro-info:hover .p-countdown, .channel-favorable .pro-info-hover .p-countdown {
    border-right: 2px solid #efefef;
    border-top: 2px solid #efefef;
    padding-right: 4px;
    padding-top: 8px;
}
.channel-favorable .p-time {
    display: inline-block;
    height: 20px;
    line-height: 20px;
}
.channel-favorable .p-time b {
    color: #777;
    margin-right: 11px;
}
.channel-favorable .p-time ins {
    background-color: #d21921;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    height: 20px;
    min-width: 14px;
    padding: 0 3px;
    position: relative;
    text-align: center;
}
.channel-favorable .p-time s {
    background-color: #db474d;
    bottom: 1px;
    font-size: 1px;
    height: 9px;
    left: 0;
    line-height: 1px;
    position: absolute;
    width: 100%;
}
.channel-favorable .p-time i {
    font-style: normal;
    position: relative;
    z-index: 2;
}
.channel-favorable .p-time em {
    color: #777;
    margin: 0 6px;
}
.channel-favorable .p-quantity {
    background-color: rgba(216, 27, 36, 0.89);
    border-left: 4px solid rgba(179, 19, 26, 0.89);
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 0 4px 0 0;
    padding: 0 8px 0 5px;
    vertical-align: top;
}
.channel-pro-favorable-item-1 .pro-info {
    text-align: left;
}
.channel-pro-favorable-item-1 .p-img {
    float: left;
    padding: 24px 30px 0 24px;
}
.channel-pro-favorable-item-1 .p-img img, .channel-pro-favorable-item-1 .p-img-mask {
    height: 252px;
    width: 156px;
}
.channel-pro-favorable-item-1 .p-name {
    font-size: 26px;
    line-height: 1.3;
    margin: 61px 32px 0 0;
    padding-right: 0;
}
.channel-pro-favorable-item-1 .p-shining {
    font-size: 15px;
    line-height: 22px;
    margin: 16px 32px 5px 0;
    min-height: 78px;
}
.channel-pro-favorable-item-1 .p-price {
    float: left;
    line-height: 29px;
    padding: 0 12px 0 0;
}
@media not all {
.channel-pro-favorable-item-1 .p-price {
    line-height: 29px;
}
}
.channel-pro-favorable-item-1 .p-price em {
    margin-right: 5px;
}
.channel-pro-favorable-item-1 .p-price em, .channel-pro-favorable-item-1 .p-price span {
    font-size: 24px;
    line-height: 32px;
}
.channel-pro-favorable-item-1 .p-button {
    float: left;
}
.channel-pro-favorable-item-2 .pro-info {
    text-align: right;
}
.channel-pro-favorable-item-2 .p-img {
    margin: 0 auto;
    padding-top: 44px;
    text-align: center;
    width: 252px;
}
.channel-pro-favorable-item-2 .p-img img, .channel-pro-favorable-item-2 .p-img-mask {
    height: 156px;
    width: 252px;
}
.channel-pro-favorable-item-2 .p-name, .channel-pro-favorable-item-2 .p-shining {
    float: left;
    padding-left: 32px;
    text-align: left;
    white-space: nowrap;
    width: 248px;
}
.channel-pro-favorable-item-2 .p-name {
    font-size: 26px;
    line-height: 1.2;
    margin-bottom: 5px;
    padding-top: 8px;
}
.channel-pro-favorable-item-2 .p-shining {
    font-size: 15px;
    line-height: 22px;
}
.channel-pro-favorable-item-2 .p-price, .channel-pro-favorable-item-2 .p-button {
    padding-right: 32px;
}
.channel-pro-favorable-item-2 .p-price {
    padding-bottom: 3px;
    padding-top: 7px;
}
.channel-pro-favorable-item-2 .p-price em, .channel-pro-favorable-item-2 .p-price span {
    font-size: 24px;
}
.channel-pro-favorable-item-2 .p-price b {
    line-height: 36px;
    margin-right: 4px;
}
.channel-floor .channel-pro-item .p-img a {
    margin: 0 auto;
    width: 222px;
}
.channel-floor .h {
    padding-bottom: 10px;
}
.channel-floor .h h2 {
    border-left: 4px solid #c82c2c;
    float: left;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.1;
    padding-left: 7px;
}
.channel-floor .h h2 a:hover {
    color: #e01d20;
    text-decoration: none;
}
.channel-floor .channel-subtitle {
    color: #777;
    display: inline;
    float: left;
    font-size: 13.5px;
    margin-left: 10px;
    position: relative;
    top: 1px;
}
.channel-floor .channel-nav {
    float: right;
}
.channel-floor .channel-nav li {
    display: inline-block;
    font-size: 13px;
    padding-left: 20px;
}
.channel-floor .channel-nav a {
    color: #978679;
}
.channel-floor .channel-nav a:hover {
    color: #e01d20;
    text-decoration: none;
}
.channel-floor .channel-pro-item .p-img {
    padding-top: 6px;
}
.channel-floor .channel-pro-item .p-rtf {
    height: 322px;
    margin-left: -4px;
    margin-top: -4px;
    width: 299px;
}
.channel-floor .channel-pro-item .p-rtf img {
    height: 322px;
    width: 299px;
}
.channel-floor .channel-pro-item .p-rtf .p-img-mask {
    height: 322px;
    width: 299px;
}
.channel-floor .channel-pro-item .p-img a {
    margin: 0 auto;
    width: 222px;
}
.channel-floor .channel-pro-item .p-img img, .channel-floor .channel-pro-item .p-img-mask {
    height: 222px;
    width: 222px;
}
.channel-floor .channel-pro-item {
    width: 25%;
}
.channel-floor .pro-info {
    height: 314px;
}
.channel-floor .channel-pro-item .p-name {
    font-size: 14px;
    height: 36px;
    line-height: 18px;
    margin: 0 32px 5px;
}
.channel-floor .channel-pro-rec-item {
    width: 50%;
}
.channel-floor .channel-pro-rec-item .pro-info {
    text-align: left;
}
.channel-floor .channel-pro-rec-item .p-img {
    float: left;
    padding: 44px 48px 0 30px;
    width: 222px;
}
.channel-floor .channel-pro-rec-item .p-rtf {
    height: 322px;
    margin-left: -4px;
    margin-top: -4px;
    width: 599px;
}
.channel-floor .channel-pro-rec-item .p-rtf img {
    height: 322px;
    width: 599px;
}
.channel-floor .channel-pro-rec-item .p-rtf .p-img-mask {
    height: 322px;
    width: 599px;
}
.channel-floor .channel-pro-rec-item .p-name {
    font-size: 26px;
    height: auto;
    line-height: 1.3;
    margin-left: 0;
    margin-right: 32px;
    margin-top: 54px;
}
.channel-floor .channel-pro-rec-item .p-shining {
    font-size: 15px;
    height: 92px;
    line-height: 22px;
    margin: 6px 32px 13px 0;
}
.channel-floor .channel-pro-rec-item .p-promotions {
    padding-top: 2px;
}
.channel-floor .channel-pro-rec-item .p-price {
    float: left;
    line-height: 29px;
    padding: 0 12px 0 0;
}
@media not all {
channel-floor .channel-pro-rec-item .p-price {
    line-height: 29px;
}
}
.channel-floor .channel-pro-rec-item .p-price em, .channel-floor .channel-pro-rec-item .p-price span {
    font-size: 24px;
    line-height: 32px;
    margin-right: 5px;
}
.channel-floor .p-price b {
    display: inline-block;
    padding-top: 3px;
}
.channel-floor .channel-pro-rec-item .p-price b {
    padding-top: 0;
}
.channel-floor .channel-pro-rec-item .p-button {
    float: left;
}
.channel-floor-2 .channel-pro-panels {
    background-color: #fff;
    margin: 0 6px -1px 0;
    padding: 0 4px 4px 0;
}
.channel-floor-2 .pro-info {
    height: 180px;
}
.channel-floor-2 .channel-pro-item .p-img a {
    margin: 0 auto;
    width: 295px;
}
.channel-floor-2 .pro-info {
    border: 0 solid #fff;
}
.channel-floor-2 .channel-pro-item .p-img {
    padding-top: 0;
}
.channel-floor-2 .channel-pro-item .p-img img, .channel-floor-2 .channel-pro-item .p-img-mask {
    height: 180px;
    width: 295px;
}
.channel-floor-2 .channel-pro-list {
    margin-right: -6px;
}
.channel-floor-2 .p-slogan-bg {
    background: #000 none repeat scroll 0 0;
    bottom: 0;
    height: 30px;
    left: 0;
    opacity: 0.3;
    position: absolute;
    width: 295px;
}
.channel-floor-2 .p-slogan {
    background: transparent none repeat scroll 0 0;
    bottom: 0;
    height: 30px;
    left: 0;
    line-height: 30px;
    position: absolute;
    width: 295px;
}
.channel-floor-2 .p-slogan a {
    color: #fff;
    float: right;
    font-size: 14px;
    padding-right: 11px;
}
.channel-floor-2 .p-slogan a:first-child {
    float: left;
    font-size: 16px;
    padding-left: 14px;
    padding-right: 0;
}
.channel-floor-3 .channel-pro-item {
    margin: 0;
    width: 33.333%;
}
.channel-floor-3 .pro-info {
    height: 198px;
    position: relative;
}
.channel-floor-3 .channel-pro-panels {
    background-color: #efefef;
    margin: 0 5px -1px 0;
    padding: 1px 4px 4px 1px;
}
.channel-floor-3 .channel-pro-list {
    margin-right: -5px;
}
.channel-floor-3 .p-img {
    float: right;
    padding: 0;
}
.channel-floor-3 .p-name {
    font-size: 18px;
    font-weight: 700;
    margin: 37px 4px 6px 35px;
}
.channel-floor-3 .p-slogan {
    color: #888;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 0 35px;
}
.channel-floor-3 .p-price {
    bottom: 37px;
    left: 35px;
    position: absolute;
}
.channel-floor-3 .p-price b {
    font-size: 18px;
}
.channel-floor-3 .p-price em, .channel-floor-3 .p-price span {
    font-size: 20px;
    line-height: 22px;
}
.channel-floor-3 .p-img img, .channel-floor-3 .p-img-mask {
    height: 198px;
    width: 198px;
}
.ecnews-area {
    border: 1px solid #efefef;
}
.ecnews-area .h-tab li {
    background-color: #f5f5f5;
    color: #838181;
    float: left;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 50%;
}
.ecnews-area .h-tab .current {
    background-color: #fff;
    color: #333;
}
.ecnews-area .h-tab a {
    color: #7f7f7f;
}
.ecnews-area .h-tab .current a {
    color: #333;
}
.ecnews-area .h-tab a:hover {
    color: #e01d20;
}
.ecnews-area .b {
    height: 128px;
}
.ecnews-area .b ul {
    padding: 13px 10px 0 17px;
}
.ecnews-area .b li {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ecnews-area .b a {
    background-position: -12px 6px;
    color: #9c9590;
    padding-left: 10px;
}
.ecnews-area .b a:hover {
    background-position: 0 -24px;
    color: #e01d20;
}
.top-banner a:hover {
    text-decoration: none;
}
.top-banner-img {
    margin: 0 auto;
    position: relative;
    width: 1000px;
}
.top-banner-img img {
    vertical-align: top;
}
.button-top-banner-max, .button-top-banner-min, .button-top-banner-close {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 18px;
    color: #fff;
    font-family: helvetica;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    text-align: center;
    top: 4px;
    width: 36px;
}
.button-top-banner-max {
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
}
.button-top-banner-min {
    background-position: 11px -402px;
    text-indent: 100%;
    white-space: nowrap;
}
.button-top-banner-close {
    background-position: 11px -374px;
    text-indent: 100%;
    white-space: nowrap;
}
#channel-pro-favorable-1 .pro-info {
    background-color: #f8f8f8;
    border-color: #f8f8f8;
}
#channel-pro-favorable-1 .pro-info:hover, #channel-pro-favorable-1 .pro-info-hover {
    border-color: #efcacc;
}
#channel-pro-favorable-1 .pro-info:hover .p-countdown, #channel-pro-favorable-1 .pro-info-hover .p-countdown {
    border-right: 2px solid #efcacc;
    border-top: 2px solid #efcacc;
}
#channel-pro-favorable-2 .pro-info {
    background-color: #e2f9fb;
    border-color: #e2f9fb;
}
#channel-pro-favorable-2 .pro-info:hover, #channel-pro-favorable-2 .pro-info-hover {
    border-color: #ddcbcf;
}
#channel-pro-favorable-2 .pro-info:hover .p-countdown, #channel-pro-favorable-2 .pro-info-hover .p-countdown {
    border-right: 2px solid #ddcbcf;
    border-top: 2px solid #ddcbcf;
}
#channel-pro-favorable-3 .pro-info {
    background-color: #fffce7;
    border-color: #fffce7;
}
#channel-pro-favorable-3 .pro-info:hover, #channel-pro-favorable-3 .pro-info-hover {
    border-color: #f4cebf;
}
#channel-pro-favorable-3 .pro-info:hover .p-countdown, #channel-pro-favorable-3 .pro-info-hover .p-countdown {
    border-right: 2px solid #f4cebf;
    border-top: 2px solid #f4cebf;
}
#channel-pro-favorable-4 .pro-info {
    background-color: #ffecef;
    border-color: #ffecef;
}
#channel-pro-favorable-4 .pro-info:hover, #channel-pro-favorable-4 .pro-info-hover {
    border-color: #f4c1c5;
}
#channel-pro-favorable-4 .pro-info:hover .p-countdown, #channel-pro-favorable-4 .pro-info-hover .p-countdown {
    border-right: 2px solid #f4c1c5;
    border-top: 2px solid #f4c1c5;
}
#channel-pro-1-1 .pro-info {
    background-color: #f6f6f6;
    border-color: #f6f6f6;
}
#channel-pro-1-1 .pro-info:hover, #channel-pro-1-1 .pro-info-hover {
    border-color: #edc9cb;
}
#channel-pro-1-2 .pro-info {
    background-color: #e2f9fb;
    border-color: #e2f9fb;
}
#channel-pro-1-2 .pro-info:hover, #channel-pro-1-2 .pro-info-hover {
    border-color: #ddcbcf;
}
#channel-pro-1-3 .pro-info {
    background-color: #ffecef;
    border-color: #ffecef;
}
#channel-pro-1-3 .pro-info:hover, #channel-pro-1-3 .pro-info-hover {
    border-color: #f4c1c5;
}
#channel-pro-2-1 .pro-info {
    background-color: #f2ffe8;
    border-color: #f2ffe8;
}
#channel-pro-2-1 .pro-info:hover, #channel-pro-2-1 .pro-info-hover {
    border-color: #ead0bf;
}
#channel-pro-2-2 .pro-info {
    background-color: #fcefff;
    border-color: #fcefff;
}
#channel-pro-2-2 .pro-info:hover, #channel-pro-2-2 .pro-info-hover {
    border-color: #f2c3d2;
}
#channel-pro-2-3 .pro-info {
    background-color: #fffce7;
    border-color: #fffce7;
}
#channel-pro-2-3 .pro-info:hover, #channel-pro-2-3 .pro-info-hover {
    border-color: #f4cebf;
}
#channel-pro-3-1 .pro-info {
    background-color: #ffecef;
    border-color: #ffecef;
}
#channel-pro-3-1 .pro-info:hover, #channel-pro-3-1 .pro-info-hover {
    border-color: #f4c1c5;
}
#channel-pro-3-2 .pro-info {
    background-color: #f6f6f6;
    border-color: #f6f6f6;
}
#channel-pro-3-2 .pro-info:hover, #channel-pro-3-2 .pro-info-hover {
    border-color: #edc9cb;
}
#channel-pro-3-3 .pro-info {
    background-color: #e2f9fb;
    border-color: #e2f9fb;
}
#channel-pro-3-3 .pro-info:hover, #channel-pro-3-3 .pro-info-hover {
    border-color: #ddcbcf;
}
#channel-pro-4-1 .pro-info {
    background-color: #f6f6f6;
    border-color: #f6f6f6;
}
#channel-pro-4-1 .pro-info:hover, #channel-pro-4-1 .pro-info-hover {
    border-color: #edc9cb;
}
#channel-pro-4-2 .pro-info {
    background-color: #e2f9fb;
    border-color: #e2f9fb;
}
#channel-pro-4-2 .pro-info:hover, #channel-pro-4-2 .pro-info-hover {
    border-color: #ddcbcf;
}
#channel-pro-4-3 .pro-info {
    background-color: #ffecef;
    border-color: #ffecef;
}
#channel-pro-4-3 .pro-info:hover, #channel-pro-4-3 .pro-info-hover {
    border-color: #f4c1c5;
}
#channel-pro-5-1 .pro-info {
    background-color: #f2ffe8;
    border-color: #f2ffe8;
}
#channel-pro-5-1 .pro-info:hover, #channel-pro-5-1 .pro-info-hover {
    border-color: #ead0bf;
}
#channel-pro-5-2 .pro-info {
    background-color: #fcefff;
    border-color: #fcefff;
}
#channel-pro-5-2 .pro-info:hover, #channel-pro-5-2 .pro-info-hover {
    border-color: #f2c3d2;
}
#channel-pro-5-3 .pro-info {
    background-color: #fffce7;
    border-color: #fffce7;
}
#channel-pro-5-3 .pro-info:hover, #channel-pro-5-3 .pro-info-hover {
    border-color: #f4cebf;
}
.wide .u-4-1 {
    width: 278px;
}
.wide .u-4-3 {
    width: 902px;
}
.wide .channel-sale .p-name {
    width: 276px;
}
.wide .top-banner-img {
    width: 1200px;
}