
.detail .u-3-4 {
    position: static;
    width: 752px;
}
.detail .u-1-4 {
    width: 235px;
}
.search .u-3-4 {
    overflow: hidden;
    width: 741px;
}
.search .u-1-4 {
    width: 243px;
}
.pro-ew-area li::before, .pro-ew-area li::after {
    content: " ";
    display: table;
}
.pro-ew-area li::after {
    clear: both;
}
.pro-ew-area li {
}
.tips-area::before, .tips-area::after {
    content: " ";
    display: table;
}
.tips-area::after {
    clear: both;
}
.tips-area {
}
.pro-detail-tab-area::before, .pro-detail-tab-area::after {
    content: " ";
    display: table;
}
.pro-detail-tab-area::after {
    clear: both;
}
.pro-detail-tab-area {
}
.u-1-4 .pro-list li .p-img s, .ecnews-area .b a, .ui-area .before, .ui-area .after, .pro-slogan-area .h, .pro-slogan-area .f, .pro-slogan-area .arrow, .pro-gift-area .h, .pro-gift-area .f, .pro-tab-area a, .pro-tab-area span {
    background: transparent url("../../images/echannel/sprites/sprites1.png") no-repeat scroll 0 0;
}
.ui-area .after {
    background: transparent url("../../images/echannel/sprites/sprites2.png") no-repeat scroll 0 0;
}
.pro-suit-area .h h3, .pro-recommend-area .h h3 {
    background: transparent url("../../images/echannel/sprites/sprites11.png") no-repeat scroll 0 0;
}
.button-book {
    background: transparent url("../../images/echannel/btn/btn4.png") no-repeat scroll 0 0;
}
.button-add-cart, .button-notice-arrival, .button-group-2, .button-sellOut, .button-appointment, .button-sellRemind, .button-add-cart-disabled, .button-group-disabled-2 {
    background: transparent url("../../images/echannel/icon/icon32.png") no-repeat scroll 0 0;
}
.g-l .h .h-tab li, .search .sort-area a, .search-relational-area s {
    background: transparent url("../../images/echannel/bg/bg1.png") no-repeat scroll 0 0;
}
.g-l .h .h-tab a:hover, .g-l .h .h-tab li.current a {
    background: transparent url("../../images/echannel/icon/icon3.png") no-repeat scroll 0 0;
}
.g-l .b, .ecnews-area, .ecnews-area .h, .ecnews-area .h .h-tab, .ecnews-area .b, .pro-tab-area {
    background: transparent url("../../images/echannel/bg/bg6.png") no-repeat scroll 0 0;
}
.pro-cate-area .p-operate s, .pro-cate-area .p-default s, .pro-cate-area .p-expand s, .pro-popup-close, .search-area .sort-area s {
    background: transparent url("../../images/echannel/icon/icon1.png") no-repeat scroll 0 0;
}
.pro-sku-area .selected s, .pro-ew-area .selected s, .icon-minus-2, .icon-plus-2, .pro-eval-impress .selected s {
    background: transparent url("../../images/echannel/icon/icon31.png") no-repeat scroll 0 0;
}
.pro-summary-area {
    background: transparent url("../../images/echannel/bg/bg54.png") no-repeat scroll 0 0;
}
.search-empty-area {
    background: transparent url("../../images/echannel/bg/bg31.png") no-repeat scroll 0 0;
}
.add-success-area .fl s {
    background: transparent url("../../images/echannel/icon/icon11.png") no-repeat scroll 0 0;
}
.popup-extend-area .h {
    background: transparent url("../../images/echannel/bg/bg22.jpg") no-repeat scroll 0 0;
}
.pro-tips-area i, .pro-add-success dt s, .pro-suit-parts-area .and, .suit-master-area .and, .pro-suit-parts-area .p-price s, .pro-comment-item .arrow, .icon-qa, .pro-sku-tips-detail i, .pro-sku-tips-detail s, .sku-select .sku i, .pro-add-error i {
    background: transparent url("../../images/echannel/icon/icon33.png") no-repeat scroll 0 0;
}
.pro-gallery-area .pro-gallery-back, .pro-gallery-area .pro-gallery-forward, .icon-clear {
    background: transparent url("../../images/echannel/icon/icon34.png") no-repeat scroll 0 0;
}
.pro-evaluate-tab-nav li.current {
    background: transparent url("../../images/echannel/icon/icon8.png") no-repeat scroll 0 0;
}
.button-style-1, .button-style-2, .button-style-4, .button-style-disabled-1, .button-style-disabled-2, .button-style-disabled-3, .button-style-disabled-4 {
    cursor: pointer;
    display: inline-block;
    text-align: center;
}
.button-style-1:hover, .button-style-2:hover, .button-style-4:hover, .button-style-disabled-1:hover, .button-style-disabled-2:hover, .button-style-disabled-3:hover, .button-style-disabled-4:hover {
    text-decoration: none;
}
.button-style-1 {
    background-color: #e01d20;
    border: 1px solid #e01d20;
    color: #fff;
}
.button-style-1:hover {
    background-color: #e64a4d;
    border-color: #e64a4d;
}
.button-style-1:active {
    background-color: #c91a1d;
    border-color: #c91a1d;
}
.button-style-disabled-1 {
    background-color: #f6bbbc;
    border: 1px solid #f6bbbc;
    color: #fff;
    cursor: not-allowed;
}
.button-style-2 {
    background-color: #ff5c14;
    border: 1px solid #ff5c14;
    color: #fff;
}
.button-style-2:hover {
    background-color: #ff7d43;
    border-color: #ff7d43;
}
.button-style-2:active {
    background-color: #e55312;
    border-color: #e55312;
    color: #e5e5e5;
}
.button-style-disabled-2 {
    background-color: #b6b6b6;
    border: 1px solid #b6b6b6;
    color: #f0f0f0;
    cursor: not-allowed;
}
.button-style-disabled-3 {
    background-color: #fdfdfd;
    border: 1px solid #f1f1f1;
    color: #ccc;
    cursor: not-allowed;
}
.button-style-4 {
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid #d1d1d1;
}
.button-style-4:hover {
    background-color: #f9f9f9;
    border-color: #dadada;
    color: #5c5c5c;
}
.button-style-4:active {
    background-color: #eaeaea;
    border-color: #c6c6c6;
    color: #303030;
}
.button-style-disabled-4 {
    background-color: #fdfdfd;
    border: 1px solid #f1f1f1;
    color: #c1c1c1;
    cursor: not-allowed;
}
.button-interest, .button-sellOut, .button-notice-arrival, .button-add-cart, .button-book-2, .button-book-disabled-2, .button-buy, .button-buy-disabled, .button-appointment, .button-group-2, .button-buy-nostart, .button-buy-start, .button-buy-over, .button-sellRemind, .button-add-cart-disabled, .button-group-disabled-2, .button-event, .button-event-disabled {
    font-family: "Tahoma",微软雅黑;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    width: 188px;
}
.button-sellOut {
    background-position: 53px -500px;
    text-align: left;
    text-indent: 80px;
}
.button-sellRemind {
    background-position: 39px -142px;
    text-align: left;
    text-indent: 70px;
}
.button-sellRemind:hover {
    background-position: 39px -183px;
}
.button-sellRemind:active {
    background-position: 39px -224px;
}
.button-notice-arrival {
    background-position: 38px -264px;
    text-align: left;
    text-indent: 70px;
}
.button-notice-arrival:hover {
    background-position: 38px -302px;
}
.button-notice-arrival:active {
    background-position: 38px -340px;
}
.button-add-cart, .button-group-2 {
    background-position: 29px 11px;
    text-align: left;
    text-indent: 62px;
}
.button-add-cart:hover, .button-group-2:hover {
    background-position: 29px -27px;
}
.button-add-cart:active, .button-group-2:active {
    background-position: 29px -65px;
}
.button-add-cart-disabled, .button-group-disabled-2 {
    background-position: 29px -103px;
    text-align: left;
    text-indent: 62px;
}
.button-appointment {
    background-position: 40px -379px;
    text-align: left;
    text-indent: 69px;
}
.button-appointment:hover {
    background-position: 40px -419px;
}
.button-appointment:active {
    background-position: 40px -459px;
}
.button-go-cart, .button-walking, .button-go-extend-checkout, .button-go-extend-checkout-disabled, .button-par-define {
    font-family: "Tahoma",微软雅黑;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    width: 118px;
}
.button-add-cart-2 {
    font-family: "Tahoma",微软雅黑;
    font-size: 14px;
    height: 31px;
    line-height: 29px;
    width: 122px;
}
.button-add-cart-3, .button-notice-arrival-2 {
    font-family: "Tahoma",微软雅黑;
    font-size: 14px;
    height: 33px;
    line-height: 33px;
    width: 124px;
}
.button-comment, .button-comment-disabled {
    font-family: "Tahoma",微软雅黑;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    width: 89px;
}
.button-extend-search {
    font-family: "Tahoma",微软雅黑;
    font-size: 14px;
    height: 35px;
    width: 136px;
}
.button-inquire-sumbit, .button-eval-sumbit {
    font-family: "Tahoma",微软雅黑;
    font-size: 14px;
    height: 37px;
    width: 100px;
}
.icon-clear {
    background-position: 0 -116px;
    display: inline-block;
    height: 18px;
    width: 17px;
}
.icon-clear:hover {
    background-position: -27px -116px;
}
.icon-clear:active {
    background-position: -54px -116px;
}
.icon-minus-2, .icon-plus-2, .icon-minus-disabled-2, .icon-plus-disabled-2 {
    display: inline-block;
    height: 24px;
    width: 24px;
}
.stock-area .icon-minus-2 {
    background-color: #fff;
    background-position: -12px 11px;
    border: 1px solid #b2b2b2;
}
.stock-area .icon-minus-2:hover {
    background-position: -40px 11px;
    border-color: #d9d9d9;
}
.stock-area .icon-minus-2:active {
    background-color: #f2f2f2;
    background-position: -68px 11px;
    border-color: #a9a9a9;
}
.stock-area .icon-minus-disabled-2 {
    background-color: #fff;
    background-position: -96px 11px;
    border: 1px solid #e8e8e8;
}
.stock-area .icon-plus-2 {
    background-color: #fff;
    background-position: -12px -14px;
    border: 1px solid #b2b2b2;
}
.stock-area .icon-plus-2:hover {
    background-position: -40px -14px;
    border-color: #d9d9d9;
}
.stock-area .icon-plus-2:active {
    background-color: #f2f2f2;
    background-position: -68px -14px;
    border-color: #a9a9a9;
}
.stock-area .icon-plus-disabled-2 {
    background-color: #fff;
    background-position: -96px -14px;
    border: 1px solid #e8e8e8;
}
.icon-qa {
    background-position: -44px -100px;
    padding: 2px 0 2px 22px;
}
.u-1-4 .pro-list li {
    border-top: 1px solid #dedede;
    padding: 12px 12px 12px 10px;
}
.u-1-4 .pro-list li div {
}
.u-1-4 .pro-list li .p-img {
    float: left;
    position: absolute;
    width: 56px;
}
.u-1-4 .pro-list li .p-img img {
    display: block;
    height: 56px;
    vertical-align: top;
    width: 56px;
}
.u-1-4 .pro-list li .p-img s {
    height: 23px;
    left: -10px;
    position: absolute;
    top: -12px;
    width: 23px;
}
.u-1-4 .pro-list li .p-img s.s1 {
    background-position: 0 0;
}
.u-1-4 .pro-list li .p-img s.s2 {
    background-position: -33px 0;
}
.u-1-4 .pro-list li .p-img s.s3 {
    background-position: -66px 0;
}
.u-1-4 .pro-list li .p-img s.s4 {
    background-position: -99px 0;
}
.u-1-4 .pro-list li .p-img s.s5 {
    background-position: -132px 0;
}
.u-1-4 .pro-list li .p-img s.s6 {
    background-position: -165px 0;
}
.u-1-4 .pro-list li .p-name, .u-1-4 .pro-list li .p-price {
    margin-left: 56px;
    padding-left: 17px;
}
.u-1-4 .pro-list li .p-name {
    font-family: "Tahoma",微软雅黑;
    height: 36px;
    margin-bottom: 3px;
    overflow: hidden;
}
.u-1-4 .pro-list li .p-name a {
    color: #666;
}
.u-1-4 .pro-list li .p-price b {
    color: #e01d20;
    font-weight: 400;
}
.u-1-4 .pro-list li .p-price em {
    color: #e01d20;
    font-family: "Tahoma",微软雅黑;
}
.banner-area {
    border: 1px solid #ddd;
    overflow: hidden;
    width: 729px;
}
.banner-area .ec-slider {
    height: 230px;
}
.banner-area .ec-slider-item-img {
    width: 729px;
}
.banner-area .ec-slider-nav {
    margin-left: 93px;
}
.ec_slider, .ec_slider ul, .ec_slider li {
    overflow: hidden;
}
.ec_slider {
    background-color: #fff;
    position: relative;
}
.ec_slider ul {
    height: 100%;
    position: absolute;
}
.ec_slider ul li {
    float: left;
    height: 100%;
    position: relative;
}
.ec_slider .btnBg {
    background: #000 none repeat scroll 0 0;
    bottom: 0;
    display: none;
    height: 27px;
    left: 0;
    position: absolute;
}
.ec_slider .btn {
    bottom: 0;
    font-size: 0;
    height: 15px;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    text-align: right;
}
.ec_slider .btn span {
    background: #d2d1cf none repeat scroll 0 0;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    height: 10px;
    margin-left: 5px;
    opacity: 0.6;
    width: 10px;
}
.ec_slider .btn span.on {
    background-color: #fe3d40;
    height: 12px;
    opacity: 1;
    width: 12px;
}
.ec_slider .pre {
    left: 0;
}
.ec_slider .next {
    background-position: right top;
    right: 0;
}
.ec_slider .img {
    height: 230px;
    width: 730px;
}
.g-l {
    overflow: hidden;
}
.g-l .h {
    border-bottom: 3px solid #e10000;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
}
.g-l .h h2 {
    background-color: #fff;
    color: #c00;
    float: left;
    font-family: "Tahoma",微软雅黑;
    font-size: 21px;
    padding-right: 25px;
    position: relative;
    z-index: 2;
}
.g-l .h h2 a {
    color: #c00;
}
.g-l .h h2 a:hover {
    text-decoration: none;
}
.g-l .h .h-tab {
    float: left;
    left: -1px;
    position: relative;
}
.g-l .h .h-tab li {
    background-position: left -337px;
    float: left;
    font-size: 14px;
    font-weight: 700;
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
}
.g-l .h .h-tab li.current {
    color: #c00;
}
.g-l .h .h-tab a {
    display: inline-block;
}
.g-l .h .h-tab a:hover, .g-l .h .h-tab li.current a {
    background-position: center 25px;
    color: #c00;
    text-decoration: none;
}
.g-l .h .fr a:hover {
    color: #c00;
    text-decoration: none;
}
.g-l .b {
    background-position: left 0;
    background-repeat: repeat-y;
    margin-right: -1px;
}
.g-l-none .b, .g-l-none .pro-list {
    background-image: none;
}
.g-l-none .h .fr {
    padding-top: 3px;
}
.hot-area, .rl-area, .bp-area, .pro-desc-area {
    background-color: #fff;
    border: 1px solid #dedede;
}
.hot-area .h, .rl-area .h, .bp-area .h, .pro-desc-area .h {
    background-color: #f7f7f7;
    height: 47px;
}
.hot-area .h h3, .rl-area .h h3, .bp-area .h h3, .pro-desc-area .h h3 {
    font-family: "Tahoma",微软雅黑;
    font-size: 14px;
    line-height: 47px;
    text-indent: 14px;
}
.rl-area .h .fr {
    padding: 15px 16px 0 0;
}
.rl-area .h a {
    color: #f96209;
    display: block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
.hot-area .b, .rl-area .b, .bp-area .b, .pro-desc-area .b {
    overflow: hidden;
}
.pro-desc-area .b {
    border-top: 1px solid #dedede;
    font-family: "Tahoma",微软雅黑;
    padding: 0 0 30px;
}
.pro-desc-area .p-img {
    padding: 20px 0;
    text-align: center;
}
.pro-desc-area .p-img img {
    height: 180px;
    vertical-align: top;
    width: 180px;
}
.pro-desc-area .p-name {
    font-size: 14px;
    line-height: 20px;
    padding: 0 15px 6px;
}
.pro-desc-area .p-name label {
    color: #666;
}
.pro-desc-area .p-price {
    padding: 0 15px;
}
.pro-desc-area .p-price label {
    color: #666;
}
.pro-desc-area .p-price b {
    color: #e01d20;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    top: 1px;
}
.pro-desc-area .p-evaluate {
    padding-left: 15px;
}
.pro-desc-area .p-evaluate label {
    color: #666;
}
.pro-desc-area .pro-star {
    position: relative;
    top: 1px;
}
.pro-desc-area .p-evaluate em {
    color: #5f5f5f;
}
.pro-desc-area .p-button {
    padding-top: 22px;
    text-align: center;
}
.pro-cate-area {
    border: 1px solid #dedede;
    font-family: "Tahoma",微软雅黑;
}
.pro-cate-attr {
    border-bottom: 1px solid #dedede;
}
.pro-cate-area a:hover {
    text-decoration: none;
}
.pro-cate-area .p-title {
    float: left;
    padding-top: 16px;
    text-align: right;
    width: 86px;
}
.pro-cate-area .p-default {
    float: left;
    padding: 16px 0 0 10px;
}
.pro-cate-area .p-values {
    margin-left: 140px;
    padding: 10px 0;
}
.pro-cate-area .p-expand {
    height: 30px;
    margin-right: 80px;
    overflow: hidden;
}
.pro-cate-area .p-expand li {
    float: left;
    height: 18px;
    margin-right: 20px;
    padding: 6px 0;
    white-space: nowrap;
}
.pro-cate-area .p-default a, .pro-cate-area .p-expand a {
    color: #999;
    display: inline-block;
    vertical-align: top;
}
.pro-cate-area .p-default a:hover, .pro-cate-area .p-expand a:hover {
    color: #666;
}
.pro-cate-area .p-default a:active, .pro-cate-area .p-expand a:active {
    color: #333;
}
.pro-cate-area .p-default .selected a, .pro-cate-area .p-expand .selected a {
    color: #e01d20;
}
.pro-cate-sort .sort-sale, .pro-cate-sort .sort-price, .pro-cate-sort .sort-eval, .pro-cate-sort .sort-added {
    padding-right: 12px;
    position: relative;
}
.pro-cate-sort .p-expand s {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 50%;
    width: 8px;
}
.pro-cate-sort .sort-eval s {
    height: 8px;
    margin-top: -3px;
}
.pro-cate-sort .sort-eval s {
    background-position: 0 -29px;
}
.pro-cate-sort .sort-asc .sort-eval s {
    background-position: 0 -47px;
}
.pro-cate-sort .sort-desc .sort-eval s {
    background-position: 0 -52px;
}
.pro-cate-sort .sort-sale s, .pro-cate-sort .sort-price s, .pro-cate-sort .sort-added s {
    height: 10px;
    margin-top: -5px;
}
.pro-cate-sort .sort-sale s, .pro-cate-sort .sort-price s, .pro-cate-sort .sort-added s {
    background-position: 0 -70px;
}
.pro-cate-sort .sort-asc .sort-sale s, .pro-cate-sort .sort-asc .sort-price s, .pro-cate-sort .sort-asc .sort-added s {
    background-position: 0 -90px;
}
.pro-cate-sort .sort-desc .sort-sale s, .pro-cate-sort .sort-desc .sort-price s, .pro-cate-sort .sort-desc .sort-added s {
    background-position: 0 -110px;
}
.pro-cate-area .p-operate {
    float: right;
    padding: 6px 20px 6px 0;
}
.pro-cate-area .p-operate .more {
    color: #666;
    display: inline-block;
    padding-right: 20px;
    position: relative;
}
.pro-cate-area .p-operate .more:hover {
    color: #999;
}
.pro-cate-area .p-operate .more:active {
    color: #333;
}
.pro-cate-area .p-operate .more s {
    font-size: 0;
    height: 5px;
    line-height: 0;
    margin-top: -2.5px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 50%;
    width: 9px;
}
.pro-cate-area .p-operate .more-expand s {
    background-position: -18px -28px;
}
.pro-cate-area .p-operate .more-expand:hover s {
    background-position: -18px -47px;
}
.pro-cate-area .p-operate .more-expand:active s {
    background-position: -18px -66px;
}
.pro-cate-area .p-operate .more-drop s {
    background-position: -18px -24px;
}
.pro-cate-area .p-operate .more-drop:hover s {
    background-position: -18px -43px;
}
.pro-cate-area .p-operate .more-drop:active s {
    background-position: -18px -62px;
}
.channel-list {
    text-align: right;
}
.channel-list .pro-list {
    margin-left: 75px;
    padding-bottom: 20px;
    width: 1220px;
}
.channel-list .pro-list li {
    float: left;
    width: 20%;
}
.channel-list .pro-list .pro-panels {
    border: 1px solid #dedede;
    font-family: "Tahoma",微软雅黑;
    height: 362px;
    margin: 0 20px 20px 0;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.channel-list .pro-list .pro-panels:hover, .channel-list .pro-list .hover {
    border-color: #e01d20;
}
.channel-list .pro-list .p-img {
    padding: 12px 0 10px;
    text-align: center;
}
.channel-list .pro-list .p-img img {
    height: 218px;
    vertical-align: top;
    width: 218px;
}
.channel-list .pro-list .p-name {
    height: 48px;
    line-height: 16px;
    overflow: hidden;
    padding: 0 20px;
}
.channel-list .pro-list .p-name a {
    color: #666;
}
.channel-list .pro-list .p-name a:hover {
    color: #e01d20;
}
.channel-list .pro-list .p-price {
    color: #e01d20;
    line-height: 30px;
    padding-top: 3px;
}
.channel-list .pro-list .p-price b {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.channel-list .pro-list .p-price em {
    font-size: 16px;
}
.channel-list .pro-list .p-button {
    bottom: -1px;
    left: -1px;
    position: absolute;
    width: 224px;
}
.channel-list .pro-list .p-button table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
.channel-list .pro-list .p-button td {
    border: 1px solid #dedede;
}
.channel-list .pro-list .p-button a, .channel-list .pro-list .p-button label {
    color: #666;
    display: block;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
}
.channel-list .pro-list .p-button .p-button-cart, .channel-list .pro-list .p-button .p-button-an {
    color: #e01d20;
}
.channel-list .pro-list .p-button .p-button-cart-disabled, .channel-list .pro-list .p-button .p-button-an-disabled {
    background-color: #e01d20;
    color: #fff;
    cursor: not-allowed;
}
.channel-list .pro-list .p-button a:hover {
    background-color: #e01d20;
    color: #fff;
    text-decoration: none;
}
.channel-list .pro-list .p-tag {
    left: 0;
    position: absolute;
    top: 0;
}
.pro-summary-area {
    background-color: #fff;
    background-position: 549px 0;
    background-repeat: repeat-y;
    border: 1px solid #dedede;
    position: relative;
}
.pro-summary-area .left-area {
    width: 548px;
}
.pro-summary-area .right-area {
    position: relative;
    width: 450px;
}
.pro-property-area {
    min-height: 466px;
    padding: 36px 0 138px;
    position: relative;
}
.pro-property-area h1, .pro-slogan, .pro-evaluate, .pro-ew-area, .pro-promotions-area, .pro-sku-area, .pro-coding, .pro-stock-area, .pro-freight, .pro-service, .pro-price, .pro-tips-area {
    padding-left: 30px;
    padding-right: 30px;
}
.pro-meta-area {
    font-family: "Tahoma",微软雅黑;
}
.pro-property-area h1 {
    font-size: 20px;
    line-height: 25px;
}
.pro-property-area .line {
    border-bottom: 1px solid #dedede;
    font-size: 1px;
    height: 0;
    line-height: 1px;
}
.pro-coding, .pro-evaluate, .pro-freight, .pro-service {
    padding-bottom: 2px;
    padding-top: 2px;
}
.pro-coding label, .pro-evaluate label, .pro-freight label, .pro-service label {
    display: inline-block;
    padding-right: 6px;
    text-align: right;
    width: 60px;
}
.pro-evaluate .pro-star {
    position: relative;
    top: 1px;
}
.pro-slogan {
    color: #e01d20;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 6px;
    padding-top: 6px;
}
.pro-slogan a {
    color: #e01d20;
}
.pro-price {
    padding-top: 3px;
}
.pro-price b {
    color: #e01d20;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: relative;
    top: 2px;
}
.pro-price em {
    font-size: 16px;
    font-weight: 700;
}
.pro-price s {
    margin-right: 15px;
}
.pro-price label {
    padding-right: 6px;
}
.pro-promotions-area dl {
    color: #e01d20;
    line-height: 18px;
    margin-bottom: -2px;
}
.pro-promotions-area dt {
    float: left;
    padding-right: 6px;
}
.pro-promotions-area dd {
    float: left;
    width: 340px;
}
.pro-promotions-area li {
    padding-bottom: 4px;
}
.pro-promotions-area a {
    color: #e01d20;
}
.pro-sku-area dl, .pro-ew-area dl {
}
.pro-sku-text dt {
    line-height: 26px;
}
.pro-sku-text dd {
    line-height: 18px;
}
.pro-sku-area dt, .pro-ew-area dt {
    float: left;
    padding-right: 6px;
}
.pro-sku-img dt {
    line-height: 40px;
}
.pro-sku-area dd, .pro-ew-area dd {
    float: left;
    width: 330px;
}
.pro-sku-area li, .pro-ew-area li {
    float: left;
    margin: 0 10px 10px 0;
    vertical-align: top;
}
.pro-sku-area .sku, .pro-ew-area .sku {
    cursor: pointer;
    float: left;
    font-family: 微软雅黑,Arial,Helvetica,sans-serif;
    position: relative;
    text-align: center;
}
.pro-sku-tips {
    float: left;
    line-height: 26px;
    padding-left: 6px;
}
.pro-sku-tips a {
    color: #3268cc;
}
.pro-ew-area li {
    position: relative;
    white-space: nowrap;
}
.pro-ew-area li.hover {
    z-index: 2;
}
.pro-ew-area ul {
    background-color: #fff;
    display: none;
    left: 0;
    position: absolute;
    top: 26px;
    z-index: 2;
}
.pro-ew-area li.hover ul {
    display: block;
}
.pro-ew-area ul li {
    margin: 0;
}
.pro-ew-area ul .sku {
    float: none;
}
.pro-sku-area .sku a, .pro-ew-area .sku a, .pro-ew-area .selected li .sku a {
    border: 1px solid #b2b2b2;
    display: block;
}
.pro-ew-area .sku a {
    text-align: left;
}
.pro-sku-img .sku span {
    display: block;
    margin-bottom: -2px;
    white-space: nowrap;
}
.pro-sku-text .sku a {
    padding: 3px 8px;
    white-space: nowrap;
}
.pro-sku-text .sku-select .sku a {
    padding-right: 22px;
}
.pro-sku-area a:hover, .pro-ew-area a:hover {
    text-decoration: none;
}
.pro-sku-area .sku img {
    height: 38px;
    padding: 1px;
    vertical-align: top;
    width: 38px;
}
.pro-sku-area .sku a:hover, .pro-ew-area .sku a:hover, .pro-ew-area .selected li .sku a:hover {
    border-color: #999;
}
.pro-sku-area .selected .sku a, .pro-ew-area .selected .sku a, .pro-sku-area .selected .sku a:hover, .pro-ew-area .selected .sku a:hover {
    border-color: #e01d20;
}
.pro-ew-area .selected .selected .sku a {
    border-color: #e01d20 !important;
}
.pro-ew-area .sku {
    position: relative;
}
.pro-ew-area .selected > .sku {
    z-index: 3;
}
.pro-ew-area ul .sku {
    margin-top: -1px;
    z-index: 1;
}
.pro-ew-area ul li:hover > .sku {
    position: relative;
    z-index: 2;
}
.pro-ew-area .selected ul .sku {
}
.pro-ew-area .selected .selected .sku {
    z-index: 4;
}
.pro-ew-area .sku a {
    overflow: hidden;
    position: relative;
}
.pro-ew-area li, .pro-ew-area .sku a, .pro-ew-area .selected li .sku a {
    z-index: 1;
}
.pro-ew-area li:hover, .pro-ew-area li:hover > .sku > a {
    z-index: 2;
}
.pro-ew-area .selected, .pro-ew-area .selected .sku a, .pro-ew-area .selected > .sku {
    z-index: 3;
}
.pro-ew-area .selected li .sku s {
    display: none;
}
.pro-sku-area .selected .sku s, .pro-ew-area .selected .sku s, .pro-ew-area .selected .selected .sku s {
    background-position: 0 0;
    bottom: 1px;
    display: block;
    font-size: 1px;
    height: 10px;
    line-height: 1px;
    position: absolute;
    right: 1px;
    width: 10px;
}
.pro-sku-area .pro-sku-img .selected .sku s {
    top: 31px;
}
.pro-sku-area .sku-select .sku i, .pro-ew-area .sku-select .sku i {
    background-position: -93px -105px;
    font-size: 1px;
    height: 5px;
    line-height: 1px;
    margin-top: -2.5px;
    position: absolute;
    right: 6px;
    top: 50%;
    width: 9px;
}
.pro-sku-area li:hover .sku i, .pro-sku-area .hover .sku i .pro-ew-area li:hover .sku i, .pro-ew-area .hover .sku i {
    background-position: -93px -100px;
}
.pro-sku-area .disabled, .pro-sku-area .disabled .sku a {
    color: #c1c1c1;
    cursor: not-allowed;
}
.pro-sku-area .disabled .sku a {
    background-color: #fff;
    border-color: #e8e8e8;
}
.pro-sku-img .disabled {
    color: #c1c1c1;
}
.pro-sku-area .disabled .sku img {
    opacity: 0.3;
}
.pro-tips-area {
    padding-top: 15px;
}
.pro-tips-area .tips-area {
    background-color: #f2f2f2;
    border: 1px solid #d2d2d2;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
    display: inline-block;
    vertical-align: top;
}
.pro-tips-area i {
    float: left;
    height: 14px;
    margin: 10px 0 0 9px;
    width: 14px;
}
.pro-tips-area .tips-text {
    font-family: "Tahoma",微软雅黑;
    font-size: 12px;
    margin-left: 32px;
    overflow: hidden;
    padding: 8px 10px 8px 0;
}
.pro-tips-area .tips-text a {
    color: #28c0c6;
    text-decoration: underline;
}
.pro-stock-area {
}
.pro-stock-area dt {
    float: left;
    line-height: 26px;
    padding-right: 6px;
}
.pro-stock-area dd {
    float: left;
}
.pro-stock-area input {
    border-color: #b2b2b2;
    height: 22px !important;
    line-height: 22px !important;
    margin: 0 5px;
    width: 43px;
}
.pro-fixed-action {
    bottom: 30px;
    left: 0;
    padding-left: 30px;
    position: absolute;
    right: 0;
}
.pro-selected {
    font-family: "Tahoma",微软雅黑;
    padding-bottom: 10px;
}
.pro-selected b {
    color: #e01d20;
    font-weight: 400;
}
.pro-action-area {
    font-size: 0;
}
.pro-action-area a {
    float: left;
    margin: 0 20px 0 0;
    vertical-align: top;
}
.pro-action-area .countdown-begin-area, .pro-action-area .countdown-end-area {
    float: left;
    font-family: "Tahoma",微软雅黑;
    font-size: 16px;
    height: 25px;
    left: -10px;
    line-height: 1;
    overflow: hidden;
    padding: 19px 0 0;
    position: relative;
    top: 2px;
    vertical-align: top;
}
.pro-action-area .countdown-begin-area s, .pro-action-area .countdown-end-area s {
    font-size: 12px;
    height: 19px;
    left: 7px;
    overflow: hidden;
    position: absolute;
    text-decoration: none;
    top: 0;
}
.pro-action-area .countdown-begin-area b, .pro-action-area .countdown-end-area b {
    color: #e01d20;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 0 6px;
    position: relative;
    top: 1px;
}
.pro-action-area p {
    color: #3f8d02;
    height: 15px;
    line-height: 15px;
    margin: 4px 0 2px 8px;
}
.pro-action-area p b {
    color: #ee7701;
    font-family: Tahoma;
}
.pro-action-area p em {
    color: #ee7701;
}
.pro-agreement-area {
    clear: both;
    font-family: "Tahoma",微软雅黑;
    margin-bottom: -6px;
    padding-top: 6px;
}
.pro-agreement-area input {
    margin-right: 6px;
}
.pro-agreement-area label {
    font-family: "Tahoma",微软雅黑;
}
.pro-agreement-area a {
    color: #28c0c6;
}
.pro-popup-area {
    background-color: #f2f2f2;
    border: 1px solid #d2d2d2;
    bottom: 30px;
    left: 30px;
    position: absolute;
    width: 428px;
    z-index: 50;
}
.pro-popup-area .h {
    font-size: 0;
    line-height: 0;
    position: relative;
}
.pro-popup-close {
    background-position: -170px 0;
    font-size: 0;
    height: 11px;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    right: 10px;
    text-indent: 100%;
    top: 10px;
    white-space: nowrap;
    width: 11px;
}
.pro-add-success dt {
    float: left;
}
.pro-add-success dt s {
    background-position: -34px 0;
    display: inline-block;
    height: 72px;
    margin: 29px 0 0 29px;
    width: 72px;
}
.pro-add-success dd {
    font-family: "Tahoma",微软雅黑;
    margin-left: 131px;
    overflow: hidden;
    padding: 30px 0;
}
.pro-add-success-name {
    font-size: 14px;
    padding: 0 30px 6px 0;
    word-break: break-all;
    word-wrap: break-word;
}
.pro-add-success-msg {
    color: #7abd54;
    font-size: 18px;
    padding-bottom: 26px;
}
.pro-add-success-total {
    padding: 0 30px 6px 0;
}
.pro-add-success-total em, .pro-add-success-total b {
    color: #e01d20;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.pro-add-success-button a {
    margin-right: 10px;
}
.pro-add-error {
    font-family: "Tahoma",微软雅黑;
    padding: 47px 0 30px;
    text-align: center;
}
.pro-add-error i {
    background-position: -116px 0;
    display: inline-block;
    height: 72px;
    width: 72px;
}
.pro-add-error-msg {
    color: #ff5f00;
    font-size: 14px;
    padding: 23px 0 30px;
    text-align: center;
}
.pro-extend-area {
    font-family: "Tahoma",微软雅黑;
    padding: 25px 30px 30px;
}
.pro-extend-area h3 {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 25px;
    text-align: center;
}
.pro-extend-search {
    padding-bottom: 17px;
}
.pro-extend-search .text {
    margin-right: 10px;
    padding: 7px 10px 8px;
    width: 198px;
}
.pro-extend-result {
    color: #e01d20;
    height: 30px;
}
.pro-extend-result a {
    color: #28c0c6;
    text-decoration: underline;
}
.pro-extend-tips {
    font-size: 12px;
    padding-bottom: 27px;
}
.pro-extend-button {
    text-align: center;
}
.pro-gallery-area {
    margin: 0 auto;
    width: 480px;
}
.pro-gallery-area .pro-gallery-img {
    height: 480px;
    margin-top: -290px;
    position: absolute;
    top: 50%;
    width: 480px;
}
.pro-gallery-area .pro-gallery-img img {
    display: block;
    height: 480px;
    vertical-align: top;
    width: 480px;
}
.pro-gallery-area .pro-gallery-nav {
    bottom: 30px;
    height: 70px;
    left: 55px;
    position: absolute;
    width: 430px;
}
.pro-gallery-area .pro-gallery-back, .pro-gallery-area .pro-gallery-forward {
    height: 22px;
    margin-top: -11px;
    position: absolute;
    top: 50%;
    width: 12px;
}
.pro-gallery-area .pro-gallery-back {
    background-position: 0 0;
    left: -35px;
}
.pro-gallery-area .pro-gallery-back:hover {
    background-position: -22px 0;
}
.pro-gallery-area .pro-gallery-back:active {
    background-position: -44px 0;
}
.pro-gallery-area .pro-gallery-forward {
    background-position: 0 -32px;
    right: -35px;
}
.pro-gallery-area .pro-gallery-forward:hover {
    background-position: -22px -32px;
}
.pro-gallery-area .pro-gallery-forward:active {
    background-position: -44px -32px;
}
.pro-gallery-area .pro-gallery-thumbs {
    height: 70px;
    overflow: hidden;
    position: relative;
    width: 430px;
}
.pro-gallery-area .pro-gallery-thumbs ul {
    left: 0;
    position: absolute;
    top: 0;
    width: 500%;
}
.pro-gallery-area .pro-gallery-thumbs li {
    float: left;
    padding-right: 20px;
}
.pro-gallery-area .pro-gallery-thumbs li a {
    border: 1px solid #d2d2d2;
    display: block;
    height: 64px;
    padding: 2px;
    width: 64px;
}
.pro-gallery-area .pro-gallery-thumbs .current a, .pro-gallery-area .pro-gallery-thumbs li a:hover {
    border: 3px solid #eb8d91;
    padding: 0;
}
.pro-gallery-area .pro-gallery-thumbs li img {
    display: block;
    height: 64px;
    vertical-align: top;
    width: 64px;
}
.pro-suit-area, .pro-recommend-area {
    background-color: #fff;
    border: 1px solid #dedede;
    font-family: "Tahoma",微软雅黑;
}
.pro-suit-area .h h3, .pro-recommend-area .h h3 {
    display: none;
}
.pro-suit-area .h-tab, .pro-recommend-area .h-tab {
    background-color: #f7f7f7;
}
.pro-suit-area .h-tab ul, .pro-recommend-area .h-tab ul {
    border-bottom: 1px solid #dedede;
}
.pro-suit-area .h-tab li, .pro-recommend-area .h-tab li {
    background-color: #fff;
    border-bottom: 1px solid #dedede;
    border-right: 1px solid #dedede;
    float: left;
    margin-bottom: -1px;
    padding-top: 1px;
    position: relative;
}
.pro-suit-area .h-tab li.current, .pro-recommend-area .h-tab li.current {
    border-bottom-color: #fff;
    border-top: 1px solid #e01d20;
    padding-top: 0;
}
.pro-suit-area .h-tab a, .pro-recommend-area .h-tab a {
    display: block;
    font-size: 14px;
    height: 46px;
    line-height: 44px;
    min-width: 84px;
    padding: 0 15px;
    text-align: center;
}
.pro-suit-area .h-tab a:hover, .pro-recommend-area .h-tab a:hover {
    text-decoration: none;
}
.pro-suit-area .h-tab .current a, .pro-suit-area .h-tab a:hover, .pro-recommend-area .h-tab .current a, .pro-recommend-area .h-tab a:hover {
    color: #e01d20;
}
.pro-suit-area .pro-main, .pro-recommend-area .pro-main {
    float: left;
    width: 100%;
}
.pro-suit-parts-list {
    border-right: 1px solid #dedede;
    margin-right: 210px;
    overflow: hidden;
    position: relative;
}
.pro-suit-parts-area li {
    float: left;
    padding: 0 15px 12px 0;
    position: relative;
}
.pro-suit-parts-area .suit-area, .pro-suit-parts-area .suit-master-area {
    text-align: center;
    width: 152px;
}
.pro-suit-parts-area .p-img {
    padding: 20px 0 9px;
}
.pro-suit-parts-area .p-img a {
    border: 1px solid #dedede;
    display: block;
    height: 110px;
    margin: 0 auto;
    width: 110px;
}
.pro-suit-parts-area .p-img img {
    height: 100%;
    vertical-align: top;
    width: 100%;
}
.pro-suit-parts-area .p-name {
    height: 36px;
    line-height: 18px;
    overflow: hidden;
    padding: 0 20px;
}
.pro-suit-area .suit-area .p-price, .pro-recommend-area .suit-area .p-price, .pro-recommend-area .suit-master-area .p-price {
    padding-top: 6px;
}
.pro-suit-area .suit-area .p-price em, .pro-recommend-area .suit-area .p-price em, .pro-recommend-area .suit-master-area .p-price em {
    color: #e01d20;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    vertical-align: middle;
}
.pro-suit-parts-area .suit-area .p-price em {
    cursor: pointer;
}
.pro-suit-parts-area .p-price s {
    background-position: 18px 18px;
    border: 1px solid #b2b2b2;
    cursor: pointer;
    display: inline-block;
    height: 14px;
    margin-right: 10px;
    overflow: hidden;
    vertical-align: middle;
    width: 14px;
}
.pro-suit-parts-area .suit-area .selected s {
    background-position: -23px -72px;
    border-color: #e01d20;
}
.pro-suit-parts-area .and {
    background-position: 0 -75px;
    display: block;
    height: 15px;
    left: -15px;
    position: absolute;
    top: 69px;
    width: 15px;
    z-index: 1;
}
.pro-suit-area .pro-sub, .pro-recommend-area .pro-sub {
    float: left;
    font-family: 微软雅黑,Arial,Helvetica,sans-serif;
    margin-left: -210px;
    position: relative;
    width: 210px;
}
.pro-suit-area .pro-suit-cost-area {
    padding-top: 38px;
}
.pro-recommend-area .pro-suit-cost-area {
    padding-top: 75px;
}
.pro-suit-cost-area p {
    text-align: center;
}
.pro-suit-cost-area b {
    color: #e01d20;
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 2px;
}
.pro-suit-cost-button {
    padding-top: 12px;
}
.pro-suit-cost-agreement {
    padding-top: 6px;
}
.pro-suit-cost-agreement input {
    margin-right: 6px;
}
.pro-suit-cost-agreement label {
    font-family: 微软雅黑,Arial,Helvetica,sans-serif;
}
.pro-suit-cost-agreement a {
    color: #28c0c6;
}
.pro-detail-tool {
    margin-bottom: -1px;
}
.pro-detail-area .tool-fixed-holder {
    height: 50px;
}
.tool-fixed .pro-detail-tab {
    width: 998px;
}
.pro-detail-tab {
    background-color: #f7f7f7;
    border: 1px solid #dedede;
}
.pro-detail-tab-nav {
    float: left;
}
.pro-detail-tab-nav h1 {
    font-family: "Tahoma",微软雅黑;
    font-size: 14px;
    height: 47px;
    line-height: 47px;
    padding-left: 17px;
}
.pro-detail-tab-nav li {
    background-color: #fff;
    border-bottom: 1px solid #dedede;
    border-right: 1px solid #dedede;
    float: left;
    margin-bottom: -1px;
    padding-top: 1px;
    position: relative;
}
.pro-detail-tab-nav li.current {
    border-bottom-color: #fff;
    border-top: 1px solid #e01d20;
    padding-top: 0;
}
.pro-detail-tab-nav a {
    display: block;
    font-family: "Tahoma",微软雅黑;
    font-size: 14px;
    height: 47px;
    line-height: 47px;
    min-width: 74px;
    padding: 0 20px;
    text-align: center;
    white-space: nowrap;
}
.pro-detail-tab-nav a:hover {
    text-decoration: none;
}
.pro-detail-tab-nav .current a, .pro-detail-tab-nav a:hover {
    color: #e01d20;
}
.pro-detail-tab-button {
    display: none;
    float: right;
    padding: 7px 7px 0 0;
}
.tool-fixed .pro-detail-tab-button {
    display: block;
}
.pro-detail-tab-button a {
    margin-left: 10px;
}
.pro-detail-tab-link {
    float: right;
    padding: 13px 16px 0 0;
}
.pro-detail-tab-link a {
    font-family: "Tahoma",微软雅黑;
    font-size: 14px;
}
.pro-detail-tab-area {
    background-color: #fff;
    border: 1px solid #dedede;
    margin-bottom: 20px;
}
.pro-feature-area {
    width: 750px;
}
.pro-feature-area img {
    vertical-align: top;
}
.pro-disclaimer-area {
    padding: 0 10px 20px;
}
.pro-disclaimer-area p {
    color: #666;
    text-indent: 2em;
}
.pro-parameter-area {
    color: #404040;
    font-family: "Tahoma",微软雅黑;
    font-size: 14px;
    line-height: 20px;
    padding: 2px 44px 28px;
}
.pro-parameter-area table {
    width: 100%;
}
.pro-parameter-area h3 {
    border-bottom: 1px solid #ccc;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 2px;
    padding: 34px 0 2px;
}
.pro-parameter-area .p-name, .pro-parameter-area .p-desc {
    padding: 5px 0;
}
.pro-parameter-area .p-name {
    vertical-align: top;
    width: 143px;
}
.pro-package-area, .pro-service-area {
    font-family: "Tahoma",微软雅黑;
    font-size: 14px;
    padding: 36px 44px;
}
.pro-score-area {
    border-bottom: 1px solid #dedede;
    font-family: "Tahoma",微软雅黑;
}
.pro-score-average {
    float: left;
    padding-top: 20px;
    text-align: center;
    width: 270px;
}
.pro-score-average span {
    color: #e01d20;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 33px;
    font-weight: 700;
    line-height: 1.2;
    margin-left: 18px;
    vertical-align: middle;
}
.pro-score-average b {
    font-size: 53px;
}
.pro-score-average em {
    font-size: 18px;
    vertical-align: middle;
}
.pro-score-percent {
    float: left;
    padding-top: 7px;
    width: 123px;
}
.pro-score-percent dl {
    padding-top: 4px;
}
.pro-score-percent dt {
    letter-spacing: 1px;
    padding-bottom: 2px;
}
.pro-score-percent dt em {
    color: #999;
}
.pro-score-percent dd, .pro-score-percent dd s {
    font-size: 0;
    height: 6px;
    line-height: 0;
}
.pro-score-percent dd {
    background-color: #ddd;
    position: relative;
    width: 100px;
}
.pro-score-percent dd s {
    background-color: #e01d20;
    left: 0;
    position: absolute;
    top: 0;
}
.pro-score-impress {
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    float: left;
    min-height: 108px;
    width: 356px;
}
.pro-score-impress dl {
    font-family: "Tahoma",微软雅黑;
    padding: 10px 0 0 21px;
}
.pro-score-impress dt {
    padding-bottom: 4px;
}
.pro-score-impress dd {
    background-color: #f8e9c2;
    float: left;
    height: 18px;
    line-height: 18px;
    margin: 0 15px 5px 0;
    min-width: 85px;
    padding: 0 5px;
    white-space: nowrap;
}
.pro-score-impress dd em {
    color: #999;
}
.pro-score-button {
    float: left;
    padding-top: 43px;
    text-align: center;
    width: 122px;
}
.pro-evaluate-tab {
    border-bottom: 1px solid #dedede;
    height: 52px;
}
.pro-evaluate-tab-nav {
    float: left;
    font-family: "Tahoma",微软雅黑;
    padding-left: 12px;
}
.pro-evaluate-tab-nav li {
    float: left;
    padding-bottom: 1px;
}
.pro-evaluate-tab-nav li.current {
    background-position: center 46px;
}
.pro-evaluate-tab-nav a {
    color: #999;
    float: left;
    height: 52px;
    line-height: 52px;
    padding: 0 10px;
}
.pro-evaluate-tab-nav a:hover {
    text-decoration: none;
}
.pro-evaluate-tab-nav .current a, .pro-evaluate-tab-nav a:hover {
    color: #333;
}
.pro-evaluate-page {
    float: right;
    padding-right: 25px;
    text-align: right;
}
.pro-evaluate-tab .pro-evaluate-page {
    display: none;
    padding-top: 17px;
}
.pro-comment-list {
    font-family: "Tahoma",微软雅黑;
    padding-top: 25px;
}
.pro-comment-item {
    padding-bottom: 20px;
    position: relative;
}
.pro-comment-user {
    float: left;
    padding: 0 15px;
    position: relative;
    text-align: center;
    width: 90px;
}
.pro-comment-user-img img {
    border: 1px solid #dedede;
    height: 69px;
    vertical-align: top;
    width: 69px;
}
.pro-comment-user-name {
    overflow: hidden;
    padding-top: 4px;
    word-break: break-all;
    word-wrap: break-word;
}
.pro-comment-user-tag {
    left: 86px;
    position: absolute;
    top: -10px;
}
.pro-user-comment-main {
    background-color: #fafafa;
    border: 1px solid #dedede;
    margin: 0 25px 0 0;
    overflow: hidden;
}
.pro-user-comment {
    min-height: 90px;
}
.pro-user-comment .h {
    overflow: hidden;
}
.pro-user-comment-score {
    float: left;
    padding: 14px 19px 0 14px;
}
.pro-user-comment-score em {
    padding-left: 14px;
    position: relative;
    top: -1px;
}
.pro-user-comment-score em b {
    font-weight: 400;
}
.pro-user-comment-impress {
    float: left;
    overflow: hidden;
    padding-top: 7px;
    width: 285px;
}
.pro-user-comment-impress li {
    background-color: #f8e9c2;
    float: left;
    height: 18px;
    line-height: 18px;
    margin: 5px 13px 0 0;
    padding: 0 5px;
    white-space: nowrap;
}
.pro-user-comment-time {
    color: #999;
    float: right;
    padding: 13px 15px 0 0;
    white-space: nowrap;
}
.pro-user-comment .b {
    line-height: 18px;
    padding: 11px 130px 12px 15px;
    word-break: break-all;
    word-wrap: break-word;
}
.pro-admin-reply {
    border-top: 1px dashed #afafaf;
    margin: 0 15px;
    padding: 3px 115px 9px 0;
}
.pro-admin-reply dl {
    color: #ff5c14;
}
.pro-admin-reply dt {
    float: left;
}
.pro-admin-reply dd {
    overflow: hidden;
}
.pro-comment-item .arrow {
    background-position: -47px -75px;
    height: 14px;
    left: 111px;
    position: absolute;
    top: 18px;
    width: 10px;
}
.pro-inquire-tips, .pro-faq-tips {
    background-color: #fff;
    border-bottom: 1px solid #dedede;
    font-family: "Tahoma",微软雅黑;
    line-height: 20px;
    padding: 17px 22px 14px;
}
.pro-inquire-tips label, .pro-faq-tips label {
    color: #ec6909;
}
.pro-inquire-list {
    font-family: "Tahoma",微软雅黑;
    padding: 0 25px;
}
.pro-inquire-item {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: -1px;
}
.pro-inquire-user {
    padding: 17px 0 2px;
}
.pro-inquire-user label, .pro-inquire-user span, .pro-inquire-user em {
    color: #999;
}
.pro-inquire-user em {
    font-family: Arial,Helvetica,sans-serif;
}
.pro-inquire-user s {
    margin: 0 13px 0 5px;
}
.pro-inquire-user i {
    vertical-align: top;
}
.pro-inquire-question {
    padding-bottom: 9px;
    word-break: break-all;
    word-wrap: break-word;
}
.pro-inquire-answer {
    color: #ec6909;
    padding: 0 180px 17px 0;
    position: relative;
}
.pro-inquire-answer em {
    color: #999;
    font-family: Arial,Helvetica,sans-serif;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
.pro-inquire-page {
    padding: 20px 25px 22px;
}
.pro-inquire-record {
    color: #666;
    float: left;
    font-family: "Tahoma",微软雅黑;
    font-size: 14px;
    margin-top: -6px;
}
.pro-inquire-record em {
    color: #ec6909;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    margin: 0 6px;
}
.pro-inquire-page .pager {
    float: right;
}
.pro-inquire-empty {
    font-family: "Tahoma",微软雅黑;
    padding: 40px 0;
    text-align: center;
}
.pro-faq-list {
    font-family: "Tahoma",微软雅黑;
    padding: 18px 25px 22px;
}
.pro-faq-item {
    line-height: 20px;
}
.pro-faq-item dd {
    color: #666;
}
.pro-faq-page {
    border-top: 1px solid #dedede;
    margin: 0 25px;
    padding: 20px 0 22px;
}
.pro-faq-record {
    color: #666;
    float: left;
    font-family: "Tahoma",微软雅黑;
    font-size: 14px;
    margin-top: -6px;
}
.pro-faq-record em {
    color: #ec6909;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    margin: 0 6px;
}
.pro-faq-page .pager {
    float: right;
}
.pro-faq-empty {
    font-family: "Tahoma",微软雅黑;
    padding: 40px 0;
    text-align: center;
}
.pro-inquire-form-area {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #dedede #dedede;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    font-family: "Tahoma",微软雅黑;
    margin-top: -20px;
    position: relative;
}
.pro-inquire-form-area .h h3 {
    background-color: #f7f7f7;
    border-bottom: 1px solid #dedede;
    font-size: 14px;
    height: 42px;
    line-height: 42px;
    text-align: center;
}
.pro-inquire-form-area .h h2 {
    background-color: #f7f7f7;
    border-bottom: 1px solid #dedede;
    font-size: 14px;
    height: 42px;
    line-height: 42px;
    padding-left: 17px;
    text-align: left;
}
.pro-inquire-form-area .h p {
    background-color: #fff;
    line-height: 20px;
    padding: 15px 25px;
}
.pro-inquire-form-area .b {
    background-color: #fff;
    padding: 0 25px;
}
.pro-inquire-form-area .form-edit-area {
    border-top: 1px solid #dedede;
    padding-top: 7px;
}
.pro-inquire-form-area .b p {
    padding: 10px 0;
}
.pro-inquire-form-area .b b {
    font-weight: 400;
    margin-right: 10px;
    vertical-align: middle;
}
.pro-inquire-form-area .b label {
    font-family: "Tahoma",微软雅黑;
    margin-right: 30px;
}
.pro-inquire-form-area .b .textarea {
    height: 120px;
    overflow: auto;
    padding: 4px 1.5%;
    width: 97%;
}
.pro-inquire-form-area .form-edit-action {
    padding: 10px 0 26px;
}
.rater-star {
    background-position: left top;
    background-repeat: repeat-x;
    margin-left: -3px;
    position: relative;
}
.rater-star-item, .rater-star-item-current, .rater-star-item-hover {
    background-repeat: repeat-x;
    font-size: 0;
    left: 0;
    line-height: 0;
    position: absolute;
    top: 0;
}
.rater-star-item {
    background-position: -100% -100%;
}
.rater-star-item-hover {
    background-position: left bottom;
    cursor: pointer;
}
.rater-star-item-current {
    background-position: left center;
}
.pro-eval-form-area {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #dedede #dedede;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    font-family: "Tahoma",微软雅黑;
    margin-top: -20px;
    position: relative;
}
.pro-eval-form-area .h h3 {
    background-color: #f7f7f7;
    border-bottom: 1px solid #dedede;
    font-size: 14px;
    height: 42px;
    line-height: 42px;
    text-align: center;
}
.pro-eval-form-area .h h2 {
    background-color: #f7f7f7;
    border-bottom: 1px solid #dedede;
    font-size: 14px;
    height: 42px;
    line-height: 42px;
    padding-left: 17px;
    text-align: left;
}
.pro-eval-form-area .h p {
    background-color: #fff;
    line-height: 20px;
    padding: 15px 25px;
}
.pro-eval-form-area .b {
    background-color: #fff;
    padding: 0 25px;
}
.pro-eval-form-area .form-edit-area {
    padding: 7px 0 0 29px;
}
.pro-eval-form-area .form-edit-area th {
    padding-right: 6px;
}
.pro-eval-form-area .b .textarea {
    height: 120px;
    overflow: auto;
    padding: 4px 1.5%;
    width: 96.5%;
}
.pro-eval-impress {
    bottom: -10px;
    margin-top: -10px;
    position: relative;
}
.pro-eval-impress ol {
}
.pro-eval-impress li {
    float: left;
    height: 26px;
    min-width: 115px;
    padding: 0 18px 10px 0;
    vertical-align: top;
}
.pro-eval-impress .impress {
    cursor: pointer;
    float: left;
    position: relative;
    text-align: center;
}
.pro-eval-impress a {
    background-color: #f7f7f7;
    border: 1px solid #d1d1d1;
    display: inline-block;
    padding: 3px 0;
    width: 115px;
}
.pro-eval-impress a:hover {
    text-decoration: none;
}
.pro-eval-impress .selected a, .pro-eval-impress a:hover {
    border-color: #cb1a22;
}
.pro-eval-impress .selected s {
    background-position: 0 0;
    bottom: 1px;
    font-size: 1px;
    height: 10px;
    line-height: 1px;
    position: absolute;
    right: 1px;
    width: 10px;
}
.pro-eval-impress .current .pro-eval-impress-custom, .pro-eval-impress-edit {
    display: none;
}
.pro-eval-impress-edit {
    position: absolute;
    width: 178px;
}
.pro-eval-impress-edit .text {
    border-color: #d1d1d1;
    font-family: "Tahoma",微软雅黑;
    vertical-align: middle;
    width: 107px;
}
.pro-eval-impress-edit a {
    background-color: #fff;
    margin-left: -1px;
    text-align: center;
    vertical-align: middle;
    width: 42px;
}
.pro-eval-impress-edit a:active {
    border-color: #c21820;
    color: #c21820;
}
.pro-eval-impress .current .pro-eval-impress-edit {
    display: inline-block;
}
.pro-eval-form-area .countTxt {
    color: #999;
    text-align: right;
}
.pro-eval-form-area .form-edit-action {
    margin-top: -10px;
    padding: 0 0 26px 66px;
}
.search-count-area {
    color: #808080;
    padding: 0 0 2px 5px;
}
.search-count-area b, .search-count-area em {
    margin: 0 7px;
}
.search-count-area em {
    color: #f96209;
    font-weight: 700;
}
.search .rl-area {
    margin-right: 2px;
}
.search-relational-area {
    padding: 0 0 13px 4px;
}
.search-relational-area b {
    background-color: #fff;
    color: #4c4c4c;
    position: relative;
}
.search-relational-area span {
    margin-left: -1px;
    padding-right: 6px;
}
.search-relational-area s {
    background-position: 0 -208px;
    display: inline-block;
    height: 15px;
    padding-left: 6px;
    vertical-align: middle;
    width: 1px;
}
.search-relational-area a {
    color: #033333;
}
.search-relational-area a:hover {
    color: #f98009;
    text-decoration: none;
}
.search-area {
    border-top: 2px solid #a8a8a8;
    overflow: hidden;
}
.search-area .h {
    background-color: #e5e5e5;
    border-top: 2px solid #fff;
    color: #5c5c5c;
    padding: 6px 0 10px 15px;
}
.search-area .sort-area li {
    float: left;
    height: 24px;
    line-height: 24px;
}
.search-area .sort-area a {
    background-position: 0 -390px;
    background-repeat: repeat-x;
    border: 1px solid #bebebe;
    display: inline-block;
    height: 22px;
    line-height: 20px;
    margin: 0 10px 0 0;
    overflow: hidden;
    padding: 0 25px 0 10px;
    position: relative;
}
.search-area .sort-area a:hover {
    color: #c00;
    text-decoration: none;
}
.search-area .sort-area s {
    display: block;
    height: 10px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 6px;
    width: 8px;
}
.search-area .sort-sale s {
    background-position: 0 -28px;
}
.search-area .sort-desc .sort-sale s {
    background-position: 0 -51px;
}
.search-area .sort-price s, .search-area .sort-added s {
    background-position: 0 -70px;
}
.search-area .sort-desc .sort-price s, .search-area .sort-desc .sort-added s {
    background-position: 0 -110px;
}
.search-area .sort-asc .sort-price s, .search-area .sort-asc .sort-added s {
    background-position: 0 -90px;
}
.search-empty-area {
    background-position: center 109px;
    color: #acacac;
    font-size: 14px;
    height: 140px;
    padding-top: 280px;
    text-align: center;
}
.wide .pro-summary-area {
    background-position: 541px 0;
}
.wide .pro-summary-area .left-area {
    width: 540px;
}
.wide .pro-summary-area .right-area {
    width: 657px;
}
.wide .pro-promotions-area dd, .wide .pro-sku-area dd, .wide .pro-ew-area dd {
    width: 520px;
}
.wide .u-3-4 {
    width: 940px;
}
.wide .tool-fixed .pro-detail-tab {
    width: 938px;
}
.wide .pro-feature-area {
    padding-left: 94px;
    padding-right: 94px;
}
.wide .pro-score-impress {
    width: 516px;
}
.wide .pro-score-button {
    width: 150px;
}
.wide .pro-evaluate-tab .pro-evaluate-page {
    display: block;
}
.wide .pro-user-comment-impress {
    width: 465px;
}
.wide .u-1-4 {
    width: 240px;
}
